.container
  .navbar-header
    = link_to "Reemplazar por el nombre del nuevo proyecto", root_path, class: 'navbar-brand'
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li= link_to 'Inicio', root_path, class: 'active'
