#region-<%= plural_table_name %>.container

  .region
    .region-title
      %h1= page_title!('Editando <%= singular_table_name %>')

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @<%= singular_table_name %>, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
