#region-<%= plural_table_name %>.container
  .region
    .region-title
      %h1= page_title!('<%= singular_table_name %>')

  .region
<% for attribute in attributes -%>
    %p
      %b <%= attribute.human_name %>:
      = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

  .region
    - if current_admin
      .admin-controls
        = link_to 'Editar', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-success'
    = link_to 'Regresar', <%= index_helper %>_path, class: 'btn btn-warning'
